name: docs-publish

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Check-out repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[docs]"
          pip install quartodoc

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Build quartodoc
        run: |
          quartodoc build --verbose

      - name: Render Quarto site
        run: |
          quarto render

      - name: Publish to gh-pages branch
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
